body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {
  background: linear-gradient(to right, #af105d, #12346f); /* Purple to Blue Gradient */
  padding: 15px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-link mx-4 {
  color: white; /* Change link color */
  font-size: 18px;
   /* Remove underline */
  padding: 10px 15px;
  transition: color black, background 0.3s ease;
  
}

/* Hover effect */
.nav-link mx-4:hover {
  color: #ffd700; /* Gold color on hover */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  
} 
